.dashboard__metrics {

  .chart__loading {
    $loader-size: 48px;

    font-size: $loader-size / 2;
    color: white;
    background-color: #18BC9C;
    border-radius: 100%;
    width: $loader-size;
    height: $loader-size;
    text-align: center;
    line-height: $loader-size + 4px;

    animation: hour-glass 2s infinite;

    position: absolute;

    left: 50%;
    margin-left: -($loader-size / 2);


    top: 50%;
    margin-top: -($loader-size / 2);
  }

  .chart {
    position: relative;
  }

  .chart .y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    margin-left: -20px;
  }

  .chart__latency {
    width: 300px;
    height: 100px;
  }

}

@keyframes "hour-glass" {

  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(180deg);
  }

  40% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(360deg);
  }

}
